# IntelliJ IDEA-specific files and directories to ignore

# Ignorar todos los archivos .DS_Store en cualquier ubicación
*.DS_Store
# Exclude the entire .idea directory and its contents
.idea/                   
# Exclude misc.xml specifically (if .idea/ is not entirely ignored)
.idea/misc.xml           
# Module files
*.iml                    
# Project files
*.ipr                    
# Workspace files
*.iws                    
# Build output directory
out/                     

# Default ignored files

# User-specific shelving changes
/shelf/                  
# User-specific workspace settings
/workspace.xml           
# Local HTTP client requests
/httpRequests/           
# Datasource configurations
/dataSources/            
# User-specific datasource settings
/dataSources.local.xml   
# Exclude additional IntelliJ-specific files
.idea/modules.xml        

# Logs and temporary files
# Log files
*.log                    
# Temporary files
*.tmp                    

# Ignorar todos los archivos llamados config.properties en cualquier carpeta
**/config.properties
